html {
    box-sizing: border-box;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -76px 0 0 -76px;
    border: 16px solid #f5edff;
    border-top: 16px solid #9356dc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    max-width: 768px;
    margin: -8px;
}

section{
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

section .lesrestaurants img {
    max-width: 101%;
    height: 240px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

header .logo img {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin-top: 10px;
}

a {
    display: flex;
    justify-content: space-around;
}

.location {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 16px 20px 16px 0;
    background-color: #eaeaea;

    box-shadow: inset 0px 10px 3px #e1dfdf;
}

.city {
    padding-left: 15px;
    font-size: 16px;
}

.descriptions {
    background-color: #f6f6f6;
    padding-top: 30px;
}

.reserver {
    margin-left: -50px;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    font-weight: 600;
}

.reserver ul li {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.decouvrez {
    margin: -20px 0 40px 0;
}

.decouvrez ul li {
    margin-left: -50px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-weight: 100;
    font-size: 18px;
}

.explorer {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

.explorer strong {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    border-radius: 75px 75px;
    padding: 10px 10px 10px 10px;
    color: white;
    background: linear-gradient(#ef74da,#9f5adc);;
    width: 220px;
    height: 30px;
    box-shadow: 1px 1px 33px grey;
}

.number {
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 75px;
    padding: 7px;
    color: white;
    background-color:  #9356dc;
    width: 10px;
    height: 10px;
    margin-left: -10px;
}

h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    margin: 50px 0 20px 40px;
}

.materialmobile {
    display: flex;
    padding:0 20px 0 20px;
    font-size: 20px;
    color: grey;
}

.mobile{
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 300;
    font-size: 17px;
    border-radius: 25px;
    padding: 25px 0 25px 0;
    margin: 40px;
    background-color: #f6f6f6;
    width: 80%;
    box-shadow: 1px 1px 33px grey;
}

.mobile:hover {
    color: #9356dc;
    background-color: #f5edff ;
    transition: background-color 0.7s, color 0.7s;
    box-shadow: 1px 1px 33px rgb(21, 21, 21);
}

.mobile:hover .materialmobile {
    color: #9356dc;
    background-color: #f5edff ;
    transition: background-color 0.7s, color 0.7s;
}

.materialcompose {
    display: flex;
    padding:0 20px 0 20px;
    font-size: 20px;
    color: grey;
}

.compose {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 300;
    font-size: 17px;
    border-radius: 25px;
    padding: 25px 0 25px 0;
    margin: 40px;
    background-color: #f6f6f6;
    width: 80%;
    box-shadow: 1px 1px 33px grey;
}

.compose:hover {
    color: #9356dc;
    background-color: #f5edff ;
    transition: background-color 0.7s, color 0.7s;
    box-shadow: 1px 1px 33px rgb(21, 21, 21);
}

.compose:hover .materialcompose {
    color: #9356dc;
    background-color: #f5edff ;
    transition: background-color 0.7s, color 0.7s;
}

.materialshop {
    display: flex;
    padding:0 20px 0 20px;
    font-size: 20px;
    color: grey;
}

.deguste {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 300;
    font-size: 17px;
    border-radius: 25px;
    padding: 25px 0 25px 0;
    margin: 40px 40px 70px 40px;
    background-color: #f6f6f6;
    width: 80%;
    box-shadow: 1px 1px 33px grey;
}

.deguste:hover {
    color: #9356dc;
    background-color: #f5edff ;
    transition: background-color 0.7s, color 0.7s;
    box-shadow: 1px 1px 33px rgb(21, 21, 21);
    transition: background-color 0.7s, color 0.7s;
}

.deguste:hover .materialshop {
    color: #9356dc;
    background-color: #f5edff ;
    transition: background-color 0.7s, color 0.7s;
}

h2 {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    margin: 50px 0 30px 40px;
}

.restaurants ul li {
    list-style-type: none;
}

.lesrestaurants {
    padding-top: 10px;
    background-color:#f6f6f6;
    width: 100%;
    margin-left: -8px;
}

section .lesrestaurants img {
    width: 100%;
    height: 180px;
}

.lesrestaurants figure {
    width: 85%;
    height: 250px;
    border-radius: 15px 15px;
    background-color: white;
    box-shadow: 1px 1px 33px grey;
}

.lesrestaurants figure a {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

figcaption .title {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

figcaption ul {
    margin: 2px 0 -10px -20px;
}


.restaurant-container figure ul li i {
    padding: 5px 20px 20px 0;
    font-size: 25px;
    position: relative;
    z-index: 3;
}    


.restaurant-container .fa-regular i {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.restaurant-container .fa-regular {
    display: block;
}

.restaurant-container .fa-solid {
    display: block;
    opacity: 0;
    margin-top: -50px;
}

.restaurant-container .fa-solid:hover {
    display: block;
    color: #9f5adc;
    /*
    background-image: linear-gradient(to top, #9f5adc, #ef74da);
    background-clip: text;
    color: transparent;
    */
    opacity: 1;
    margin-top: -50px;
    transition: opacity 1s;  
    opacity: 1;
}


figure {
    position: relative;
}

.nouveau {
    position: absolute;
    top:10px;
    right:10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    padding: 17px;
    color: #008766;
    background-color:#99e2d0;
    width: 80px;
    height: 10px;
}

footer {
    background-color: #353535;
    padding: 0px 0 100px 0px ;
    width: 100%;
    margin-top: 50px;
}

footer .logo {
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: flex-start;
    margin-top: -25px;
    margin-bottom: -25px;
    width: 150px;
    height: auto;
    margin-left: 5px;
    color: white;
}

footer ul li {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 23px;
    color: white;
    padding: 5px;
}

footer ul li a {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    text-decoration:none;
    font-size: 23px;
    color: white;
}